@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #ecf1ed;
  color: #401701;
}

.app {
  background-color: #920e6f;
  margin: 0 auto;
  width: 300px;
  height: 200px;
  position: relative;
  border-radius: 5px;
}

h3 {
  color: white;
  text-align: center;
  padding-top: 8px;
  letter-spacing: 1.2px;
  font-weight: 500;
}

p {
  font-size: 28px;
}

.stopwatch-card {
  position: absolute;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(89, 7, 7, 0.325);
  width: 325px;
  height: 125px;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  outline: none;
  background: transparent;
  border: 1px solid rgb(255, 149, 0);
  padding: 5px 10px;
  border-radius: 7px;
  color: rgb(255, 0, 106);
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 150px;
  margin: 0 auto;
  margin-top: 5px;
}